.about {
  display: flex;

  div {
    width: $grid-1;
    padding: 2rem 1.5rem;
    min-height: 100vh;
    //outline: 1px solid black;
  }

  div:first-child {
    border-right: $base-border;
  }

  div:last-child {
    border-left: $base-border;
  }
}
