.index-gallery {

  max-width: 700px;
  margin: 0 auto;

  @include min-screen($layout-brekpoint) {
    display: flex;
    flex-wrap: wrap;
	}
}

.index-gallery-slot {

  position: relative;
  padding: 0 15px;
  margin-bottom: 3em;

  @include min-screen($layout-brekpoint) {
    flex-basis: $grid-1;
    margin-bottom: 5em;
	}
}


.strobo-element {

  &:hover {
    z-index: 2;
  }

  &.active {
    z-index: 1;
  }
}

.strobo-slot {
  z-index: 0;

  &.active {
    z-index: 1;
  }
}
