.index-gallery {
  display: flex;
  flex-wrap: wrap;

  .index-gallery-slot {

    flex-basis: 25%;
    padding: 30px;

    position: relative;

    & > div {
      position: absolute;
    }
  }
}

.strobo-element {


  &.active {
    z-index: 1;
  }
}

.strobo-slot {
  z-index: 0;

  &.active {
    z-index: 1;
  }
}
