.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 50, 50, 1);
  z-index: 100;
  animation: color-transition 5s ease-in infinite;
  transition: opacity 500ms ease-out, visibility 0.7s;
  cursor: auto;
}

.logo-wrapper {
  width: 100vw;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.logo-wrapper svg {
  max-width: 100%;
}

.load .loading {
  visibility: hidden;
  opacity: 0;
}

@keyframes color-transition {
	0% {background: rgba(80, 50, 50, 1)}
  30% {background: rgba(48, 30, 28, 1)}
  100% {background: rgba(80, 50, 50, 1)}
}
