@keyframes color-transition {
	0% {background: #F1D6AF}
  30% {background: #50320A}
  100% {background: #F1D6AF}
}

@keyframes hoverdot {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@keyframes flash {

	100% {
		opacity: 1;
    filter: blur(0px);
	}
}

@keyframes flashtwo {

	0% {
		opacity: 0;
		filter: blur(10px);
	}
	
	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		filter: blur(0px);
	}
}
