@keyframes color-transition {
	0% {background: rgba(80, 50, 50, 1)}
  30% {background: rgba(48, 30, 28, 1)}
  100% {background: rgba(80, 50, 50, 1)}
}

@keyframes hoverdot {
    0% {transform: translateY(0);}
    100% {transform: translateY(100%);}
}

@keyframes flash {
	0% {
		opacity: 0;
    filter: blur(5px);
	}
	100% {
		opacity: 1;
    filter: blur(0);
	}
}
