.caption {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 0;
  transition: 0.5s ease-in;
  transition-property: opacity, filter;
  //opacity: 0;
  //filter: blur(15px);

  // .project.active & {
  //   opacity: 1;
  //   filter: blur(0);
  // }

	h2 {
		font-size: 0.7rem;
		color: rgba(241, 214, 175, 1);
    text-transform: uppercase;
	}
	h4 {
		font-size: 0.7rem;
		color: rgba(241, 214, 175, 1);
	}

  @media(min-width: $screen-md) {

    // .project.active & {
    //   opacity: 0;
    //   filter: blur(5px);
    // }

    .project:hover & {
      opacity: 1;
      filter: blur(0);
    }
  }
}
