.caption {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  bottom: 0;
  transition: 0.5s ease-in;
  transition-property: opacity, filter;
  margin-bottom: 50px;

  @media(min-width: $screen-md) {

    // .project.active & {
    //   opacity: 0;
    //   filter: blur(5px);
    // }

    .project:hover & {
      opacity: 1;
      filter: blur(0);
    }
  }
}

.label {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-bottom: 0.7em;
}
