.header-title {
  //text-transform: uppercase;
  line-height: normal;
  margin: 25px 0 15px 0;
}

.animated-menu .animated-menu-left {
  animation: animated-menu-left 0.7s forwards;
}

.animated-menu-right {
  opacity: 0;
  animation: animated-menu-right 0.7s forwards;
}
