.hero-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -100;

  .info-is-active &,
  .info-is-activated & {
    z-index: 0;
  }
}

.homepage {
  overflow: hidden;

  &.info-is-activated {
    overflow: visible;
  }
}

.info {
  opacity: 0;
  z-index: -100;
  pointer-events: none;
}

.strobo-gallery,
.info {
  transition: $transition-long;
}

.info-is-activated {

  .strobo-gallery {
    filter: blur(10px);
  }

  .info {
    z-index: 10;
    pointer-events: auto;
    opacity: 1;
  }

  .info-btn,
  .archive-btn {
    opacity: 0;
  }
}
