button {
  display: block;
  padding: 0.5em 0.7em;
  color: $nav-color;
  border: none;
  background-color: transparent;
  font-size: 1em;
  text-transform: uppercase;

  &:hover {
    color: $button-color;
  }
}

.back-btn {
  width: 100%;
}

.info-btn,
.archive-btn {
  cursor: pointer;
  position: fixed;
}

.archive-btn {
  right: 0;
}
