button {
  font-family: $font-secondary;
  display: block;
  padding: $padding-base;
  border: none;
  background-color: transparent;
  font-size: 1em;
  text-transform: uppercase;

  &:hover {
    //color: $button-color;
  }
}

.back-btn {
  width: 100%;
}

.info-btn,
.archive-btn {
  cursor: pointer;
  position: fixed;
}

.archive-btn {
  display: none;
  right: 0;
}
