// Mobile layout, easy images with header
.project {


  // GRID
  width: $grid-1;
  &:nth-child(2n) {
    margin-left: $grid-1;
  }

  &:nth-child(3n) {
    margin-left: $grid-1 * 2;
  }



  position: absolute;
  top: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: $body-heigth;
    box-sizing: border-box;
    object-fit: cover;
    object-position: top center;
  }
}

.project-title {
  padding: $padding-base;
}
