.swiper-img {
  margin: 0 auto;

  @media (min-width: 700px) {
    height: 400px;

    img {
      width: auto;
      height: 100%;
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    }
  }

  @media (min-width: 1000px) {
    height: 450px;
  }

  @media (min-width: 1200px) {
    height: 600px;
  }

  @media (min-width: 1600px) {
    height: 1000px;
  }
}

.swiper-zoom-in .swiper-img {
  height: auto;
}

.swiper-container {
  z-index: 0;
}

.swiper-next,
.swiper-prev {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 33%;
  height: 100%;
  outline: none;
}

.swiper-next {
  right: 0;
  cursor: url("../img/arrow-right.svg"), e-resize;
}

.swiper-prev {
  cursor: url("../img/arrow-left.svg"), w-resize;
}
