<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <h1 class="header-title center animated-menu-right">
      Projects
      <a href="{{site.url}}">
        <span class="icon-cross">
          {%- include icon-cross.html -%}
        </span>
      </a>
    </h1>

    <div class="project-entries">
      {%- for project in site.projects -%}
        <a class="project-entry" href="{{ site.baseurl }}{{ project.url }}">
            <div class="f-c-secondary label center render-number"></div>
            <h2 class="f-c-secondary label black center">{{ project.title }}</h2>
            <div class="entry-gallery" href="{{ site.baseurl }}{{ project.url }}">
                {%- include url-gallery.html -%}
            </div>
        </a>
      {%- endfor -%}
    </div>

    {%- include scripts.html -%}
  </body>
</html>


<!-- <div class="project-entries">
  {%- for project in site.projects -%}

      <div class="swiper-container swiper-automat project-entry">
        <div class="swiper-wrapper">
          {%- for image in project.front-page-images -%}
            <div class="swiper-slide">
              <div class="swiper-img">
                <a class="index-gallery-slot" href="{{ site.baseurl }}{{ project.url }}">
                  {%- include image-ratio.html -%}
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>

  {%- endfor -%}
</div> -->
