<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <h1 class="header-title">
      Project
    </h1>

    <div class="index-gallery strobo-gallery">
      {%- for project in site.projects -%}
            <a class="index-gallery-slot strobo-slot" href="{{ site.baseurl }}{{ project.url }}">
              {%- for image in project.images -%}
              <div class=" index-gallery-element strobo-element">
                <img src="{{ site.img_url }}w_200{{ image }}" alt="" class="strobo-element"/>
              </div>
              {%- endfor -%}
            </a>
      {%- endfor -%}
    </div>

    {%- include scripts.html -%}
  </body>
</html>
