body:not(.homepage) {
  animation: color-transition 30s infinite;
}
.project-name {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
  padding: 2em;
  font-size: 2em;
}
