body:not(.homepage) {
  animation: color-transition 120s infinite;
}

.homepage {
  background-color: $backgroud-color;
}

.project-name {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
  padding: 2em;
  font-size: 2em;
}

.f-c-secondary {
  color: $secondary-color;
}
