//
// BASE: Typography
// Extends core typography, adds new custom fonts
// ——————------------

@font-face {
  font-family: 'Trickster';
  src: url('../fonts/trickster/trickster-regular.woff2') format('woff2'),
  url('../fonts/trickster/trickster-regular.woff') format('woff'),
  url('../fonts/trickster/trickster-regular.ttf') format('truetype'),
  url('../fonts/trickster/trickster-regular.svg') format('svg');
  // font-weight: 200;
  // font-style: normal;
}

@font-face {
  font-family: 'Cotham';
  src: url('../fonts/cotham/CothamSans.woff2') format('woff2'),
  url('../fonts/cotham/CothamSans.woff') format('woff'),
  url('../fonts/cotham/CothamSans.ttf') format('truetype'),
  url('../fonts/cotham/CothamSans.svg') format('svg');
  // font-weight: 200;
  // font-style: normal;
}
