//
// BASE: Typography
// Extends core typography, adds new custom fonts
// ——————------------

@font-face {
  font-family: 'serif';
  src: url('../fonts/serif/serif.woff2') format('woff2'),
  url('../fonts/serif/serif.woff') format('woff'),
  url('../fonts/serif/serif.ttf') format('truetype'),
  url('../fonts/serif/serif.svg') format('svg');
  // font-weight: 200;
  // font-style: normal;
}

@font-face {
  font-family: 'sans-serif';
  src: url('../fonts/sans-serif/sans-serif.woff2') format('woff2'),
  url('../fonts/sans-serif/sans-serif.woff') format('woff'),
  url('../fonts/sans-serif/sans-serif.ttf') format('truetype'),
  url('../fonts/sans-serif/sans-serif.svg') format('svg');
  // font-weight: 200;
  // font-style: normal;
}
